body {
  margin: 0;
  padding: 0;
}

.background {
    background-color: #91C8E4;
}

.title-text {
    color: #FFFBDE;
  font-family: "Fascinate Inline", system-ui;
  font-weight: 400;
  font-style: normal;
}
